* {
	margin: 0;
	padding: 0;
}

.stocksContainer {
	padding: 1%;
}

.stockBox {
	display: inline-block;
	width: 10.2%;
	height: 75px;
	margin: 1%;
	border: 1px solid blue;
	position: relative;
}

h2.stockTicker {
	font-size: 20px;
	position: absolute;
	padding: 5%;
}

p.stockCompany {
	font-size: 16px;
	position: absolute;
	padding: 5%;
}
